@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --lg-weight: 80%;
  --md-weight: 88%;
  --sm-weight: 96%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
}

h2 {
  font-size: 46px;
  line-height: 54px;
}

h4 {
  font-size: 20px;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  margin: 1rem 0 1rem 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  cursor: pointer;
}

body {
  width: 100%;
}

.container {
  width: var(--lg-weight);
  margin: auto;
}

/* Navbar Styles Start */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}
.navbar .menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.navbar .menu-items #close-icon {
  display: none;
}
.navbar #mobile-icon {
  display: none;
}
.menu-items li a {
  font-size: 1.3rem;
  font-weight: 600;
  color: #a87b7b;
  transition: all 0.7s ease;
  position: relative;
}
.menu-items li a:hover,
.menu-items li a.active {
  color: #666464;
}
.menu-items li a.active::after,
.menu-items li a:hover::after {
  content: "";
  width: 50%;
  height: 2px;
  background: #666464;
  position: absolute;
  bottom: -4px;
  left: 0;
}

/* Media Query */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--md-weight);
  }
}

@media screen and (max-width: 768px) {
  .navbar .menu-items {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    position: fixed;
    top: 0;
    right: -20rem;
    width: 20rem;
    height: 100vh;
    padding: 2rem 0 0 3rem;
    background: #e3e6f3;
    transition: all 0.5s ease;
    box-shadow: 0 2.5rem 3.75rem rgba(0, 0, 0, 0.2);
  }
  .navbar .menu-items #close-icon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: red;
    margin-left: 13rem;
  }

  .navbar .menu-items a i {
    display: none;
  }
  .navbar #mobile-icon {
    display: block;
    gap: 1rem;
    cursor: pointer;
    display: flex;
    font-size: 1.5rem;
  }

  .navbar #mobile-icon a {
    color: #a87b7b;
  }
}
@media screen and (max-width: 350px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.7rem;
  }
  .navbar .menu-items {
    gap: 1rem;
    width: 15rem;
  }
  .navbar .menu-items #close-icon {
    margin-left: 8rem;
  }
}

/* Navbar Styles End */

/* Hero Styles Start */
#hero {
  background: #e0e3ee;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
.hero-content h4 {
  color: #666464;
}
.hero-content h2 {
  color: #a87b7b;
  font-weight: 900;
  margin-top: 1rem;
}
.hero-content h1 {
  color: #666464;
  font-weight: 700;
}
.hero-content p {
  color: #a87b7b;
}
.hero-content button {
  background: #a87b7b;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2rem;
  transition: all 0.5s ease;
}
.hero-content button:hover {
  background: #fff;
  color: #a87b7b;
}
.hero .hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .container {
    width: var(--md-weight);
  }
  .hero {
    height: 70vh;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 40vh;
    justify-content: center;
    margin-top: 5rem;
  }
  .hero .hero-content {
    text-align: center;
    line-height: 0.4rem;
  }
  .hero .hero-img img {
    display: none;
  }
  .hero-content h2 {
    font-size: 1.5rem;
  }
  .hero-content h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    height: 60vh;
  }
  .container {
    width: var(--sm-weight);
  }
}

@media screen and (max-width: 350px) {
  .hero {
    height: 75vh;
    margin-top: 1rem;
  }

  .hero-content h2 {
    font-size: 1rem;
    margin-top: -0.3rem;
  }
  .hero-content h1 {
    font-size: 1.3rem;
    margin-top: -2rem;
    margin-bottom: -1rem;
  }
  .hero-content p {
    font-size: 1rem;
    margin-top: 0.5rem;
    line-height: 1.5rem;
  }
  .hero-content button {
    margin-top: 1rem;
  }
}

/* Hero Styles End */

/* features Styles start */

#features {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  margin-top: 3rem;
  gap: 1.5rem;
}

.card {
  border: #dad4d4 1px solid;
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.7s ease-in-out;
}

.card:hover {
  background: #a87b7b;
  box-shadow: none;
}

.card p {
  background: #af9696;
  padding: 0.5rem 1rem;
  color: #fff;
  font-weight: 600;
  border-radius: 0.3rem;
  display: inline-block;
}

/* Media Query */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--md-weight);
  }
  #features {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  #features {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 480px) {
  #features {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 350px) {
  .container {
    width: var(--sm-weight);
  }
}

/* features Styles End */

/* features products & new-arrivals products start*/
#featured-products,
#new-arrivals-products {
  margin-top: 5rem;
  text-align: center;
}
#featured-products h1,
p,
#new-arrivals-products h1,
p {
  color: #a87b7b;
}
#featured-products .products,
#new-arrivals-products .products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
}

#featured-products .product-card,
#new-arrivals-products .product-card {
  border: 1px solid #dad4d4;
  border-radius: 1rem;
}
#featured-products .product-card:hover,
#new-arrivals-products .product-card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
}
#featured-products .product-card img,
#new-arrivals-products .product-card img {
  width: 100%;
  padding: 0.7rem;
  border-radius: 1.3rem 1.3rem 0 0;
}
.product-card .details {
  text-align: start;
  padding: 0 0.7rem 1rem;
  line-height: 1.7rem;
}
.product-card .details span {
  color: #a87b7b;
  font-size: 1rem;
  font-weight: 700;
}
.product-card .details h5 {
  color: #7e7b7b;
  font-size: 1.1rem;
  font-weight: 700;
}
.product-card .details .star {
  color: orange;
}
.product-card .details .price-addToCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}
.product-card .details .price-addToCard h4 {
  color: #a87b7b;
}
.product-card .details .price-addToCard a i {
  background: #dad4d4;
  color: #a87b7b;
  padding: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-content: center;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.product-card .details .price-addToCard a i:hover {
  background: #a87b7b;
  color: #fff;
}

/* Media Query */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--md-weight);
  }
  #featured-products .products,
  #new-arrivals-products .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  #featured-products .products,
  #new-arrivals-products .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  #featured-products,
  #new-arrivals-products {
    margin-top: 2rem;
  }
  #featured-products h1,
  #new-arrivals-products h1 {
    font-size: 1.5rem;
    margin-bottom: -1.2rem;
  }
  #featured-products .products,
  #new-arrivals-products .products {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 350px) {
  .container {
    width: var(--sm-weight);
  }
}

/* features products & new-arrivals products  end*/

/* CTA Styles start */

#CTA {
  margin-top: 5rem;
  background: url(img/banner/b2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 7rem 0;
}
#CTA p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
#CTA .cta-btn {
  background: #a87b7b;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease;
}
#CTA .cta-btn:hover {
  background: #fff;
  color: #a87b7b;
}

@media screen and (max-width: 480px) {
  #CTA p {
    font-size: 1.2rem;
  }
}
/* CTA Styles End */

/* deals & banners */

.deals-banners .deals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 5rem;
  color: #fff;
}
.deals-banners .deals p {
  color: #fff;
  font-size: 1.5rem;
}
.deals-banners .deals h5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.deals-banners .deals span {
  display: block;
  margin-bottom: 1.5rem;
}
.deals-banners .deals a {
  color: #fff;
  font-weight: 600;
}
.deals-banners .deal1 {
  background: url(img/banner/b17.jpg) no-repeat;
  background-size: cover;
  padding: 7rem 2rem;
}
.deals-banners .deal1 a {
  background: #a87b7b;
  padding: 0.7rem 1.3rem;
}
.deals-banners .deal2 {
  background: url(img/banner/b10.jpg) no-repeat;
  background-size: cover;
  padding: 7rem 2rem;
}
.deals-banners .deal2 a {
  padding: 0.7rem 1.3rem;
  border: 1px solid #fff;
}
.deals-banners .banners {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  color: #fff;
}
.deals-banners .banners p {
  font-size: 1.5rem;
  font-weight: 800;
  color: #fff;
}
.deals-banners .banners .banner1 {
  background: url(img/banner/b7.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 7rem 2rem;
  width: 100%;
}
.deals-banners .banners .banner2 {
  background: url(img/banner/b4.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 7rem 2rem;
  width: 100%;
}
.deals-banners .banners .banner3 {
  background: url(img/banner/b18.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 7rem 2rem;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .deals-banners .deals {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-top: 5rem;
    color: #fff;
  }
  .deals-banners .banners {
    flex-wrap: wrap;
  }
  .container {
    width: var(--md-weight);
  }
}

@media screen and (max-width: 480px) {
  .deals-banners .deal1,
  .deals-banners .deal2 {
    background-position: center;
    padding: 3rem 1rem;
  }
  .deals-banners .banners .banner2 {
    padding: 3rem 1rem;
  }
  .container {
    width: var(--sm-weight);
  }
}

/* deals & banners end */

/* Newsletter start */

#newsletter {
  margin-top: 5rem;
  padding: 4rem 0;
  background: rgba(3, 3, 70, 0.863);
}
.newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
}
.newsletter .content p {
  color: #e2e1e1;
  font-weight: 600;
}
.newsletter .content span {
  color: #a87b7b;
}
.newsletter .form {
  display: flex;
  width: 40%;
}
.newsletter .form input {
  width: 100%;
  padding: 1rem;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 0.5rem 0 0 0.5rem;
  font-size: 1rem;
}
.newsletter .form button {
  width: 30%;
  background: #a87b7b;
  color: #fff;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 0 0.5rem 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .newsletter .form {
    width: 70%;
  }
  .newsletter .content h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .newsletter .form input,
  .newsletter .form button {
    padding: 0.5rem;
  }
  .newsletter .content p {
    font-weight: 500;
  }
  .newsletter .content h1 {
    font-size: 1.3rem;
    margin-bottom: -1.5rem;
  }
  .newsletter .form {
    width: 100%;
  }
}

/* Newsletter end */

/* footer start */
.footer {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 0;
  color: #a87b7b;
  gap: 3rem;
}
.footer h5 {
  font-size: 1.2rem;
}
.footer .contact {
  line-height: 2rem;
}
.footer .contact .logo {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
  font-style: italic;
}
.footer .contact address {
  font-style: normal;
  line-height: 1rem;
}
.footer .contact address span {
  font-weight: 700;
}
.footer .contact .social {
  display: flex;
  gap: 1rem;
  padding-top: 0.5rem;
}
.footer .contact .social i {
  font-size: 1.5rem;
  cursor: pointer;
}

.footer .about ul,
.footer .my-Account ul {
  padding-top: 1rem;
}
.footer .about ul li,
.footer .my-Account ul li {
  width: max-content;
  gap: 1rem;
  margin: 1rem 0;
}
.footer .about ul li a,
.footer .my-Account ul li a {
  color: #a87b7b;
}

.footer .install-app .row img {
  border: 1px solid #dad4d4;
  border-radius: 0.5rem;
}
footer .copyright {
  text-align: center;
  margin-bottom: 4rem;
}

@media screen and (max-width: 480px) {
  .footer .contact .logo {
    font-size: 2rem;
  }
  footer .copyright {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .footer {
    margin-top: 1rem;
    padding: 1rem 0;
  }
}

/* footer end */

/* **********Shop page******** */

#shop-hero {
  margin-top: 4rem;
  background: url(img/banner/b1.jpg) no-repeat;
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: center;
  color: #a87b7b;
  text-align: center;
}
#shop-hero p {
  color: #fff;
}
